<% content_for :head do %>

	<script type="text/javascript">
		$(document).ready(function(){	  
			var h1 = parseInt(getStyle('prons','height'), 10);
			var h2 = parseInt(getStyle('prop','height'), 10);
			var h3 = parseInt(getStyle('prof','height'), 10);
			var h = Math.max(h1,h2,h3);
			var ht = h+'px';
			document.getElementById('prons').style.height=ht;
			document.getElementById('prop').style.height=ht;
			document.getElementById('prof').style.height=ht;

			blockDiv('.block');
		  	dataRenderer();
			plot1 = emptyPieRenderer("pie1");
			plot2 = emptyPieRenderer("pie2");
		});	
	</script>
<%end%>


<h1><%= Project.find(params[:pid]).name %></h1>

<div class="container">
	<div class="block" id="pie1" style="height:300px; width:400px; padding:0px;"></div>
	<div class="block" id="pie2" style="height:300px; width:400px; padding:0px;"></div>

	<div id="summary" style="height:230px;">
		<h2>Summary</h2>
		<div id="summary_data"></div>
	</div>
</div>

<div class="container">
	<div class="probox" id="prons">
		<p id="boxhead">Not Started</p>
		<% if @p_testcases_ns.blank? %>
		<p style="text-align:center;">There are no test cases to display.</p>
		<% else %>

		<table id="project_testcases" class="table">
		<tr>
			<td><h5>Test Case</h5></td><td><h5>Status</h5></td><td><h5>Author</h5></td>
		</tr>
		<% @p_testcases_ns.each do |c| %>
		<tr>
			<td>
				<%= link_to c.title, :controller => 'test_case', :action => 'show', :id => c.id -%>
			</td>

			<td>
				<%= c.status.name -%>
			</td>
			 	
			<td>
				<%= link_to c.author.name, {:controller => 'author', :action => 'list', :aid => c.author_id} -%>
			</td>
		</tr>
		<% end %>
		</table>
		<% end %>
	</div>




	<div class="probox" id="prof">
		<p id="boxhead">Failed</p>
		<% if @p_testcases_f.blank? %>
		<p style="text-align:center;">There are no test cases to display.</p>
		<% else %>

		<table id="project_testcases" class="table">
		<tr>
			<td><h5>Test Case</h5></td><td><h5>Status</h5></td><td><h5>Author</h5></td>
		</tr>
		<% @p_testcases_f.each do |c| %>
		<tr>
			<td>
				<%= link_to c.title, :controller => 'test_case', :action => 'show', :id => c.id -%>
			</td>

			<td>
				<%= c.status.name -%>
			</td>
			 	
			<td>
				<%= link_to c.author.name, {:controller => 'author', :action => 'list', :aid => c.author_id} -%>
			</td>
		</tr>
		<% end %>
		</table>
		<% end %>
	</div>




	<div class="probox" id="prop">
		<p id="boxhead">Passed</p>
		<% if @p_testcases_p.blank? %>
		<p style="text-align:center;">There are no test cases to display.</p>
		<% else %>

		<table id="project_testcases" class="table">
		<tr>
			<td><h5>Test Case</h5></td><td><h5>Status</h5></td><td><h5>Author</h5></td>
		</tr>
		<% @p_testcases_p.each do |c| %>
		<tr>
			<td>
				<%= link_to c.title, :controller => 'test_case', :action => 'show', :id => c.id -%>
			</td>

			<td>
				<%= c.status.name -%>
			</td>
			 	
			<td>
				<%= link_to c.author.name, {:controller => 'author', :action => 'list', :aid => c.author_id} -%>
			</td>
		</tr>
		<% end %>
		</table>
		<% end %>
	</div>

</div>